:root {
  --main-color: #880808;
}

.footer {
  border-top: 3px solid var(--main-color);
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  font-style: italic;
}
